.global__header {
  border-bottom: 1px solid #ececec;
  display: flex;
  justify-content: space-between; /* Alinează elementele în spațiu egal */
  align-items: center; /* Alinează vertical conținutul în centrul header-ului */
  padding: 10px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo img {
  max-width: 250px;
 
}

.navigator__links {
  list-style-type: none;
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 28px;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  display: flex;
}

.navigator--link__item {
  margin-right: 20px;
}

.navigator__link {
  color: #888b72;
  text-decoration: none;
}

.navigator__link:hover,
.navigator__link:focus,
.navigator-link:active {
  color: black;
}

.logo{
margin-left: 5px;
display: flexbox;

}

.hero{
  max-width: 2800px;
  margin: 0 auto;
}


.navigator__link.active::after {
  content: "";
  display: block;
  width: 4%;
  height: 3px;
  background-color: black;
  position: absolute;
  bottom: 600px;
  left: 41%;
}